:root
{
    /* Colors */
    --default: #fff;
    --primary: #f7f7f7;
    --secondary: #ee2211;
    --text: #000;

    /* typograph */
    --font: 'Arial';
    --paragraph-size: 1.25rem;
    --title-large: 64px;

    /* Content */
    --content-max-size: 1000px;
}

/* Reset */
body
{
    margin: 0;
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--text);
}

a
{
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3
{
    margin: 0;
    padding: 0;
}

img
{
    display: block;
    max-width: 100%;
}

/* Style Header */
.header
{
    display: grid;
    justify-items: center;
    margin-top: 3.75rem;
    gap: 2.5rem;
}

.header__menu__list
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__menu__list__item
{
    padding: 1rem 2rem;
    background-color: var(--default);
    display: inline-block;
    margin: .5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: .125rem solid var(--default);
    transition: all 50ms ease-in-out;
}

.header__menu__list__item:hover
{
    border: .125rem solid var(--secondary);
    border-radius: .25rem;
}

/* Style Content */
.content
{
    display: grid;
    max-width: var(--content-max-size);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 2.5rem;
}

.content h1
{
    font-size: 2rem;
}

.content h2
{
    font-size: var(--title-large);
    text-transform: uppercase;
    padding: 2.5rem;
    text-align: right;
    color: #c6c6c6;
    align-self: center;
}

.description
{
    background-color: var(--default);
    padding: 2.5rem;
    display: grid;
    text-align: right;
    align-content: center;
    gap: 1.25rem;
    justify-items: end;
    position: relative;
}

.description::before
{
    content: '';
    height: .25rem;
    width: 3.75rem;
    background-color: var(--secondary);
    position: absolute;
    top: 2rem;
    right: -2rem;
}

.description p
{
    font-size: var(--paragraph-size);
    line-height: 1.3;
}

.content__description__button
{
    color: var(--default);
    background-color: var(--secondary);
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 100ms ease-in-out;
}

.content__description__button:hover
{
    background-color: #900;
}

/* Style aside */
.aside
{
    display: grid;
    background-color: var(--default);
    padding: 2.5rem;
    gap: 2.5rem;
}

.aside__item
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .625rem 1.25rem;
    padding: 1.25rem;
    transition: all 100ms ease-in-out;
}

.aside__item:hover
{
    border-left-style: solid;
    border-left-color: var(--secondary);
    border-left-width: .4rem;
}

.aside__item:nth-child(odd)
{
    background-color: var(--primary);
}

.aside__item p
{
    grid-column: 2;
    font-size: 1.25rem;
    line-height: 1.3;
}

/* Style Footer */
.footer
{
    background-color: var(--default);
    padding: 2.5rem;
    text-align: center;
    margin-top: 3.75rem;
}